body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #777777;
  background-blend-mode: multiply,multiply;
  color: white;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-shadow: 2px 2px #12054d;
  font-size: 2.5em;
}


.profile-main-loader{
  left: 50% !important;
  margin-left:-100px;
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profile-main-loader .loader {
position: relative;
margin: 0px auto;
width: 200px;
height:200px;
}
.profile-main-loader .loader:before {
content: '';
display: block;
padding-top: 100%;
}

.circular-loader {
-webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
height: 100%;
-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
width: 100%;
position: absolute;
top: 0;
left: 0;
margin: auto;
}

.loader-path {
stroke-dasharray: 150,200;
stroke-dashoffset: -10;
-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
stroke-linecap: round;
}

@-webkit-keyframes rotate {
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@keyframes rotate {
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@-webkit-keyframes dash {
0% {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
}
50% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
}
100% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
}
}
@keyframes dash {
0% {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
}
50% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
}
100% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
}
}
@-webkit-keyframes color {
0% {
  stroke: #7dc7e2;
}
40% {
  stroke: #7dc7e2;
}
66% {
  stroke: #7dc7e2;
}
80%, 90% {
  stroke: #7dc7e2;
}
}
@keyframes color {
0% {
  stroke: #7dc7e2;
}
40% {
  stroke: #7dc7e2;
}
66% {
  stroke: #7dc7e2;
}
80%, 90% {
  stroke: #7dc7e2;
}
}
